<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

{{#if blogs.length}}
<h2>List of your blog posts:</h2>

{{#each blogs as |blog| }}
<div class="blog-container col-mb-4 blog">
    <div class="col-md">
        <input class="form-input" type="text" id="blog-title" value="{{blog.blog_title}}" />
        <textarea class="form-input" id="blog-message" name="blog-message" rows="5" cols="50">{{blog.blog_message}}</textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-squared" id="edit-blog" data-id="{{blog.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger" id="del-blog" data-id="{{blog.id}}">DELETE</button>
    </div>
</div>
{{/each}}
{{else}}
    <h2>It's pretty empty in here! Let's make a post!</h2>
{{/if}}

<h3>New Blog Post:</h3>

<form class="form new-blog-form">
    <div class="form-group">
        <label for="blog-title">blog title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
    </div>
    <div class="form-group">
        <label for="blog-message">message:</label>
        <textarea class="form-input" id="blog-message" name="blog-message"></textarea>
    </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<script src="/js/blog.js"></script>